:root{
    --black:black;
    --darkgreen :#475099;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none; border: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 0.1rem;
    margin: 1rem;
    background: #EC8993
}

.heading span{
    color: #fff;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #4e29f5;
    color: #fff;
    padding: 0.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #0e0b0c;
}

header{
    position: fixed;
    width: 100%;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EC8993;
    box-shadow: 0 5rem 1rem rgba(241, 217, 232, 0.14);
    padding: 0.5rem 10%;
    transition: 0.2s;
}

header .logo{
    display: flex;
    align-items: center;
}

header .logo img{
    width: 30px;
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: var(--darkgreen);
}

header .navbar a:hover{
    color: var(--black);
}

header .icons a{
    font-size: 2rem;
    color: var(--darkgreen);
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--black);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 2rem;
    color: var(--darkgreen);
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;

/* background */
background-image: url(https://i.pinimg.com/736x/af/6e/14/af6e1499d42e14d1a098fc40354890f4.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: var(--darkgreen)
}

.home .content span{
    font-size: 3.5rem;
    color: #1F2022;
    padding: 1rem 0;
    line-height: 1,5;
}

.home .content p{
    font-size: 1.5rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1,5;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 1.0rem 0;
    padding-bottom: 1rem;
}

.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width: 80%;
    border: 1.5rem solid #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5 1rem rgba(0,0,0,0.1);
    height: 80%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    color: #333;
    background: #fff;
    width: 80%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}
 
.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #333;

}

.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icon-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icon-container .icons{
    background: #fff;
    border: 1rem solid rgba(0,0,0,0.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.icon-container .icons img{
    height: 5rem;
    margin-right: 2rem;

}

.icon-container .icons h3{
    color: #333;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

.icon-container .icons span{
    color: #555;
    font-size: 1.3rem;
}

.produk .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.produk .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0,0,0,0.1);
    position: relative;
}

.produk .box-container .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    padding: 0.7rem 1rem;
    font-size: 2rem;
    color: var(pink);
    background: rgba(255, 51, 153, 0.05);
    z-index: 1;
    border-radius: 0.5rem;
}

.produk .box-container .box .Image{
    position: relative;
    text-align: center;
    padding: 2rem;
    overflow: hidden;
}

.produk .box-container .box .Image img{
    height: 25rem;
}

.produk .box-container .box:hover .Image img{
    transform: scale(1.1);
}

.produk .box-container .box .Image .icons{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}

.produk .box-container .box:hover .Image .icons{
    bottom: 0;
}

.produk .box-container .box .Image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: rgb(241, 86, 112);
    color: #fff;
}

.produk .box-container .box .Image .icons .cart-btn{
    border-left: 0.1rem solid #fff7;
    border-right: 0.1rem solid #fff7;
    width: 100%;
}

.produk .box-container .box .Image .icons a:hover{
    background: #333;
}

.produk .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.produk .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.produk .box-container .box .content .price{
    font-size: 2.5rem;
    color: var(rgb(187, 79, 97));
    font-weight: bolder;
    padding-top: 1rem;
}

.produk .box-container .box .content .price span{
    font-size: 1.5rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    padding: 3rem 2rem;
    position: relative;
    border: 1rem solid rgba(0,0,0,0.1);
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container .box .icons a{
    color: var(rgb(255, 165, 176));
    font-size: 2rem;
}

.review .box-container .box .p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .user h3{
    font-size: 2rem;
    color: #333;
}

.review .box-container .user span{
    font-size: 1.5rem;
    color: #999;
}

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
}

.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
    border: 1rem solid rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 0.5rem;
}

.contact .row .image{
    flex: 1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: 0.1rem solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    margin: 0.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: #FC8EAC;
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color: var(rgb(221, 67, 92));
    text-decoration: underline;
}

.footer .box-container .box img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: 1rem solid rgba(0,0,0,0.1);
}

.footer .credit span{
    color: #FC8EAC;
}






/* media queries */
@media (max-width: 991px) {

    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }
}

@media (max-width: 768px) {

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: #eee;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 0.1rem solid rgba(0,0,0,0.1);
        display: block;
    }

    
    .home .content span{
        font-size: 2.5rem;
    }

    .icon-container .icons h3{
        font-size: 2rem;
    }
    
    .icon-container .icons span{
        font-size: 1.7rem;
    }

}

@media (max-width: 450px) {

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}